*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#080b1c;
    color:white;
}

/* MENU */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

nav a:hover{
    color:#6f5cff;
}

/* HERO */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:80px 10%;
    gap:50px;
}

.hero h1{
    font-size:70px;
    color:#7c5cff;
}

.hero h2{
    margin:10px 0;
}

.hero p{
    color:#cfcfcf;
    line-height:1.6;
}

.hero-image img{
    width:100%;
    max-width:500px;
    border-radius:20px;
}

.buttons{
    margin-top:25px;
}

.btn{
    display:inline-block;
    background:#6f5cff;
    color:white;
    padding:12px 25px;
    border-radius:10px;
    text-decoration:none;
    margin-right:10px;
}

.btn-outline{
    background:transparent;
    border:1px solid #6f5cff;
}

/* STATS */
.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:40px 10%;
}

.card{
    background:#11152c;
    padding:25px;
    text-align:center;
    border-radius:15px;
}

.card h3{
    color:#7c5cff;
    font-size:32px;
}

/* ABOUT */
.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    padding:80px 10%;
    align-items:center;
}

.about img{
    width:100%;
    border-radius:20px;
}

.about ul{
    margin-top:20px;
}

.about li{
    margin-bottom:10px;
}

/* PROJETS */
.projects{
    padding:80px 10%;
}

.projects h2{
    text-align:center;
    margin-bottom:40px;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.project{
    background:#11152c;
    border-radius:15px;
    overflow:hidden;
}

.project img{
    width:100%;
}

.project h3,
.project p{
    padding:15px;
}

/* CONTACT */
.contact{
    text-align:center;
    padding:80px 10%;
}

.contact p{
    margin:15px 0 25px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:25px;
    background:#050816;
}

/* RESPONSIVE */
@media(max-width:768px){

    .hero,
    .about{
        grid-template-columns:1fr;
        flex-direction:column;
    }

    .stats{
        grid-template-columns:1fr 1fr;
    }

    .project-grid{
        grid-template-columns:1fr;
    }

    header{
        flex-direction:column;
        gap:20px;
    }

    .hero h1{
        font-size:45px;
    }
}